<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>微信好友地区分布</title>
    <!-- 引入 echarts.js -->
    <script src="echarts.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1000px;height:600px; position:absolute;left:50%;top:50%;transform:translateX(-50%) translateY(-50%);"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '微信好友地区分布图'
            },
            tooltip: {},
			//
            legend: {
                data:['人数']
            },
            xAxis: {
                data: ["湖南"],
				            },
            yAxis: {},
            series: [{
                name: '人数',
                type: 'bar',
                data: [50]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>